{% extends "layout.html" %}

{% block content %}
  <h3>Users</h3>
  <div class="btn-group">
    <a class="btn btn-default" href="/admin/edituser/new">Add user</a>
  </div>
  <ul class="list-group">
    {% for u in users %}
      <li class="list-group-item">
        <a href="/admin/edituser/{{ u['bguserid'] }}">{{ u['username'] }}</a>
      </li>
    {% end %}
  </ul>
  <h3>Schools</h3>
  <div class="btn-group">
    <a class="btn btn-default" href="/admin/editschool/new">Add School</a>
  </div>
  <ul class="list-group">
    {% for s in schools %}
      <li class="list-group-item">
        <a href="/admin/editschool/{{ s['bgschooluid'] }}">{{ s['schoolname'] }}</a>
      </li>
    {% end %}
  </ul>
{% end %}
