{% extends "layout.html" %}

{% block content %}
  <form action="/admin/edituser/{{ edituser['bguserid'] }}" method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" name="username" placeholder="Username" value="{{ edituser['username'] }}" required="required">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" name="password" placeholder="not changed" type="password">
    </div>
    <div class="form-group">
      <label for="securitylevel">Security level</label>
      <select class="form-control" name="securitylevel">
        {% for optval in range(len(securitylevels)) %}
          <option value="{{ optval }}"
          {% if optval == edituser['securitylevel'] %}
            selected="selected"
          {% end %}
          >{{ securitylevels[optval] }}</option>
        {% end %}
      </select>
    </div>
    <div class="btn-group" role="group">
      <button type="submit" class="btn btn-primary">Save</button>
      {% if not edituser['isnew'] and not edituser['issystem'] %}
        <a class="btn btn-danger" href="/admin/deleteuser/{{ edituser['bguserid'] }}">Delete</a>
      {% end %}
    </div>
  </form>
{% end %}
