{% extends "layout.html" %} {% block content %}
<h3>{{ title }}</h3>
<form action="/admin/editschool/{{ school['bgschooluid'] }}" method="post">
  <div class="form-group">
    <label for="school-name">{{ getstr('school-name') }}</label>
    <div class="input-group">
      <input id="school-name" value="{{ school['schoolname'] }}" type="text" class="form-control" name="schoolname">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">{{ getstr('save') }}</button>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="school-admin">{{ getstr('school-admin') }}</label>
    <select name="schooladmin" id="school-admin" class="form-control">
      {% for u in users %}
      <option value="{{ u['bguserid'] }}"
        {% if u['bguserid'] == school['schooladmin'] %}
          selected="selected"
        {% end %}>{{ u['username'] }}</option>
      {% end %}
    </select>
  </div>
</form>
<h3>{{ getstr('subjects') }}</h3>
<div class="btn-group">
  <a href="/admin/editsubject/new" class="btn btn-default">{{ getstr('new-subject') }}</a>
</div>
<ul class="list-group">
  {% for s in school['subjects'] %}
  <li class="list-group-item">
    {{ s['subjectname'] }}
    <span class="pull-right">
      <a class="btn btn-xs btn-default" href="/admin/editsubject/{{ s['bgsubjectuid'] }}">{{ getstr('edit') }}</a>
      <a class="btn btn-xs btn-danger" href="/admin/deletesubject/{{ s['bgsubjectuid'] }}">{{ getstr('remove') }}</a>
    </span>
  </li>
  {% end %}
</ul>
{% end %}
