{% extends "layout.html" %}

{% block content %}
  <h3>{{ title }}</h3>
  <form acthon="/admin/editsubject/{{ subject['bgsubjectuid'] }}" method="post">
    <div class="form-group">
      <label for="subject-name">{{ getstr('subject-name') }}</label>
      <div class="input-group">
        <input class="form-control" name="subjectname" id="subject-name" type="text" placeholder="{{ getstr('subject-name') }}">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">{{ getstr('save') }}</button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="subject-master">{{ getstr('subject-master') }}</label>
      <select class="form-control" name="subjectmaster" id="subject-master">
        {% for u in users %}
          <option value="{{ u['bguserid'] }}" {% if u['bguserid'] == subject['subjectmaster'] %}
            selected="selected"
          {% end %}>{{ u['username'] }}</option>
        {% end %}
      </select>
    </div>
  </form>
{% end %}
