{% extends "layout.html" %} {% block content %}
<div class="btn-group">
  <button class="btn btn-default" onclick="new_grade();" type="button">{{ getstr('create-grade') }}</button>
</div>
<div class="list-group" id="grades">

</div>

<div style="display:none">
  <div id="template-list-button">
    <li class="list-group-item">
        :value:
        <span class="pull-right">
          :date: <button class="btn btn-xs btn-default" type="button" onclick="start_edit(':uid:')">{{ getstr('edit') }}</button> <button class="btn btn-xs btn-danger" onclick="delete_grade(':uid:');return false;">{{ getstr('remove') }}</button>
        </span>
    </li>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="edit-grade-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ getstr('grade') }}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="grade-value">{{ getstr('grade-value') }}</label>
              <input class="form-control" id="grade-value" type="text" placeholder="{{ getstr('grade-value') }}">
            </div>
            <div class="form-group">
              <label for="grade-received">{{ getstr('received') }}</label>
              <div class='input-group date' id="received-datepicker">
                <input type='text' class="form-control" id='grade-received' />
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <script src="/static/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
                <script type="text/javascript">
                  $(function() {
                    $('#received-datepicker').datetimepicker({
                      locale: 'us'
                    });
                  });
                </script>
              </div>
            </div>
            <div class="form-group">
              <label for="grade-weighting">{{ getstr('grade-weighting') }}</label>
              <input type="numerical" min="0" max="100" id="grade-weighting">
            </div>
            <div class="form-group">
              <label for="grade-subject">{{ getstr('subject') }}</label>
              <select id="grade-subject" class="form-control">
                {% for s in subjects %}
                <option id="{{ s['bgsubjectuid'] }}" value="{{ s['bgsubjectuid'] }}">{{ s['subjectname'] }}</option>
                {% end %}
              </select>
            </div>
            <div class="form-group">
              <label for="grade-comment">{{ getstr('comment') }}</label>
              <textarea rows="5" class="form-control" id="grade-comment"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">{{ getstr('cancel') }}</button>
        <button type="button" class="btn btn-primary" id="btn-save-grade" onclick="end_edit();$('#edit-grade-modal').modal('hide');">{{ getstr('save') }}</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript" src="/static/js/grades.js"></script>
{% end %}
