<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link href="/static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
</head>

<body>
  <script src="/static/js/jquery-2.1.4.min.js" type="text/javascript"></script>
  <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bgb-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">bgb</a>
      </div>
      <div class="collapse navbar-collapse" id="bgb-navbar">
        <ul class="nav navbar-nav">
          {% for nav in navs %} {% if nav["active"] %}
          <li class="active"><a href="{{ nav['href'] }}">{{ nav["text"] }} <span class="sr-only">(current)</span></a>
          </li>
          {% else %}
          <li><a href="{{ nav['href'] }}">{{ nav["text"] }}</a></li>
          {% end %} {% end %}
        </ul>
        {% if user %}
          <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user['username'] }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/logout">Log out</a></li>
              <li><a href="/profile">Edit Profile</a></li>
              {% if user['isadmin'] %}
                <li role="separator" class="divider"></li>
                <li><a href="/admin">Admin settings</a></li>
              {% end %}
            </ul>
          </li>
        </ul>
        {% else %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Log in</a></li>
          </ul>
        {% end %}
      </div>
    </div>
  </nav>
  <div class="container">
    {% block content %}
    <h1>This is a template. Extend it. </h1>
    {% end %}
  </div>
</body>

</html>
