{% extends "layout.html" %}

{% block content %}
<h3>Log in</h3>
  <form action="/login?redir={{ redir }}" method="post">
    <div class="form-group">
      <label for="username">Username: </label>
      <input class="form-control" type="text" name="username" placeholder="username" id="username">
    </div>
    <div class="form-group">
      <label for="password">Password: </label>
      <input class="form-control" type="password" placeholder="password" name="password" id="password">
    </div>
    <button class="btn btn-default" type="submit">Log in</button>
  </form>
{% end %}
