{% extends "layout.html" %}

{% block content %}
  <h2>{{ getstr('subjects') }}</h2>
  <div class="row">
    <div class="col-md-6">
      <h3>{{ getstr('visited-subjects') }}</h3>
      <ul class="list-group" id="visited">

      </ul>
    </div>
    <div class="col-md-6">
      <h3>{{ getstr('unvisited-subjects') }}</h3>
      <ul class="list-group" id="unvisited">

      </ul>
    </div>
  </div>
  <button id="btnsave" class="btn btn-primary" onclick="save()">{{ getstr('save') }}</button>

  <div class="modal fade" tabindex="-1" role="dialog" id="delete-subject-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ getstr('attention') }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ getstr('delete-subject-grades') }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ getstr('cancel') }}</button>
        <button type="button" class="btn btn-danger" id="delete-subject">{{ getstr('delete') }}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

  <ul id="litemplate" style="display:none">
    <li class="list-group-item">
      :subjname:
      <span class="pull-right">
        <button class="btn btn-xs :btntype:" onclick="toggle_visited(':uid:')">:action:</button>
      </span>
    </li>
  </ul>

  <script type="text/javascript">
    var STRREMOVE = '{{ getstr('remove') }}';
    var STRADD = '{{ getstr('add') }}';
    </script>
    <script type="text/javascript" src="/static/js/subjects.min.js"></script>
{% end %}
